*{
  margin: 0;
  padding: 0;
}
.banner{
  width: 100%;
  margin: auto;
}
.box{
  width: 94%;
  margin: auto;
  text-align: center;
}
.full{
  width: 100%;
  text-align: center;
}
.title{
  margin: 20px;
  text-align: center;
}
img{
  max-width: 100%;
  width: 100%;
  margin: 20px auto;
}
.btn{
  width: 80%;
  margin: auto;
}
