doctype html
html
  head
    title='拼图游戏'
    meta(name="viewport",content="initial-scale=2.0,maximum-scale=1,user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/h5/pintu.css')
  body
    img.hide(src="/images/h5/pintu.png")
    div.canvas
      div#obj_1.obj(at="map_11")
      div#obj_2.obj(at="map_12")
      div#obj_3.obj(at="map_13")
      div#obj_4.obj(at="map_21")
      div#obj_5.obj(at="map_22")
      div#obj_6.obj(at="map_23")
      div#obj_7.obj(at="map_31")
      div#obj_8.obj(at="map_32")
      div#obj_9.obj(at="map_33")
    script(src='/javascripts/h5/pintu.js')
