* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #222;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 25px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

a {
    color: #00B7FF;
}

.full {
    width: 100%;
}

.clear, .clearfix {
    width: 100%;
    margin: auto;
}

/* show hide */
.show {
    display: block;
}

.hide {
    display: none;
}

/* text-align */
.t_l {
    text-align: left;
}

.t_c {
    text-align: center;
}

.t_r {
    text-align: right;
}

footer {

}

li {
    list-style: none;
}

.title {
    font-size: 50px;
    line-height: 50px;
}

.mainNav {
    border-top: 1px solid #222;
    border-bottom: 2px solid #222;
    padding: 13px 0 14px 0;
    font-family: Cufon;
    font-size: 14px;
    margin: 20px auto;
}

.menu {
    margin: 5px;
}

.main {
    width: 100%;
    margin: 20px auto;
}

.designline {
    margin-top: 50px;

}

.caption {
    top: -15px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: Georgia, serif;
    font-size: 25px;
    line-height: 1.2em;
    color: #bca474;
    text-decoration: none;
    text-transform: Uppercase;
    font-weight: bold;
    border-top: 1px solid #bca474;
}

.pic img {
    border: none;
    max-width: 100%;
    margin: auto;
}

.info {
    font-size: 14px;
}

.footer {
    border-top: 2px solid #222;
    color: #222;
    padding: 20px 0 32px 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 11px;
}

.mobile {
}

@media all and (max-width: 400px) {
    body {
        width: 95%;
    }
}

a:link {
    color: #000;
}

/* summernote */
.note-editor.note-frame.panel.panel-default {
    text-align: left;
}

img {
    max-width: 100%;
}

/* up load */
#upimg {
    position: fixed;
    top: -1000px;
}

.admin_add_blog_add_img{

}

/* add blog */
.input_title {
    margin: 20px auto;
}
.note-editable {
    text-align: left;
    height: 300px;
    border: solid 1px #ccc;
    padding: 10px;
    overflow: scroll;
    margin: 20px auto;
}