extends layout

block content
    h1=title
    h2="add blog"
    input.title(name='title',placeholder='这里输入标题')
    div(name='text',class="summernote")=""
    button.btn.add_blog="发布"
    script(src="/javascripts/admin_add_blog.js")