doctype html
html
    head
        title= title
        meta(name="viewport",content="initial-scale=2.0,maximum-scale=1,user-scalable=no")
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/jquery.lazyload.min.js')
        script(src="/javascripts/bootstrap.min.js")
        script(src="/javascripts/summernote.min.js")
        script(src="/javascripts/jquery.range.js")
        script(src="/javascripts/vue.min.js")
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet/less', href='/stylesheets/jquery.range.less')
        link(rel='stylesheet/less', href='/stylesheets/style.less')

    body
        header
        block content
        footer.footer
          img.hide(src='http://img.users.51.la/18720145.asp')
        script(src='/javascripts/less.min.js')
