doctype html
html
    head
        title= title
        meta(name="viewport",content="initial-scale=2.0,maximum-scale=1,user-scalable=no")
        script(src='http://cdn.bootcss.com/jquery/2.1.4/jquery.js')
        script(src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="/javascripts/jquery.range.js")
        script(src="/javascripts/vue.min.js")
        link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet/less', href='/stylesheets/jquery.range.less')
        link(rel='stylesheet/less', href='/stylesheets/style.less')

    body
        header
          h3
            圣诞头像生成器
        block content
        footer.footer
          Copyright (c) 2015 Copyright bibic.cc All Rights Reserved.
          img.hide(src='http://img.users.51.la/18720145.asp')
        script(src='http://cdn.bootcss.com/less.js/2.5.3/less.min.js')
