extends layout

block content
    h1= title
    form(action='/login',method='post')
        div.form-group
            input.form-control(type='text',name='admin',placeholder='管理员账号')
        div.form-group
            input.form-control(type='password',name='pass',placeholder='管理员密码')
        div.form-group
            input.btn.btn-default(type='submit',value='登陆')